/* Animasi muncul dari bawah */
.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
}

/* Saat elemen terlihat di layar */
.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}
